Repository pejulian/simple-route53-ddns: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier:format

.lintstagedrc:

{
    "*.{ts,js}": ["npm run lint"],
    "*.{json,md,html,ts,js}": ["npm run prettier:format"]
}

Update version
  package.json
Due: npm run prettier:format

Update package so that it works when built and published
  .gitignore
  build.ts
  package.json
  src/index.ts
  src/update-record-set.ts
  tsconfig.esm.json
  types/index.d.ts
Due: npm run lint, npm run prettier:format

Add support for directly supplying the ip address to be used
  README.md
  package.json
  src/index.ts
  src/update-record-set.ts
  types/index.d.ts
Due: npm run lint, npm run prettier:format

Fix error in code
  package.json
  src/update-record-set.ts
Due: npm run lint, npm run prettier:format

Update for 2025
  .eslintrc.json
  .nvmrc
  .tool-versions
  build.ts
  eslint.config.mjs
  jest.config.json
  loader.js
  package-lock.json
  package.json
  scripts/npm-update-beta-version.ts
  scripts/npm-update-version.ts
  src/update-record-set.ts
  test/.gitkeep
  test/index.spec.ts
  tsconfig.esm.json
  tsconfig.json
  tsconfig.test.json
Due: npm run lint, npm run prettier:format

Update for 2025
  .husky/pre-commit
Due: none

Update for 2025
  package.json
  src/index.ts
  src/update-record-set.ts
  types/index.d.ts
Due: npm run lint, npm run prettier:format

Update for 2025
  package.json
  src/index.ts
  types/index.d.ts
Due: npm run lint, npm run prettier:format

Update for 2025
  README.md
Due: npm run prettier:format

Update for 2025
  package.json
  src/update-record-set.ts
Due: npm run lint, npm run prettier:format
